{% extends 'base.html' %}

{% block content %}
    <h1>{{ member.username }}의 프로필 페이지</h1>
    <img style="width: 200px; height:auto;" src="{{member.image.url}}">
    {% if request.user == member %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{imageform.as_p}} {% endcomment %}
        <input type="checkbox" name="image-clear" id="image-clear_id" value="clear">
        <label for="image-clear_id">Clear</label><br>
        <p>Change:<input type="file" name="image" accept="image/*" id="id_image"></p>
        <button type="submit">수정</button>
    </form>
    {% endif %}
    <div>
        <p>
            팔로워 : {{ member.followers.count }}명
            팔로잉 : {{ member.following.count}}명
        </p>
    </div>
    {% if request.user != member %}
		<div>
			<form action="{% url "accounts:follow" member.pk %}" method="post">
				{% csrf_token %}
                {% if user in member.followers.all %}
				<button type="submit">언팔로우</button>
				{% else %}
				<button type="submit">팔로우</button>
				{% endif %}
			</form>
		</div>
	{% endif %}
    <p>가입일 : {{member.date_joined.year}}년 {{member.date_joined.month}}월 {{member.date_joined.day}}일</p>
    <br>
    <hr>
    {% if request.user == member %}
    <h2>내가 등록한 물건</h2>
    <ul>
        {% for p in products %}
        <li>
            <a href="{% url "products:product_detail" p.id %}">
            <p>[{{p.pk}}] {{p.title}} | {{p.author}}</p>
            </a>
            <form action="{% url "products:jjim" p.pk%}" method="post">
                {% csrf_token %}
                {% if request.user in p.jjim_users.all %}
                    <button class="btn btn-link text-danger" name='pro' type="submit" value='s'>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    <span>{{p.jjim_users.all|length}}</span>
                {% else %}
                    <button class="btn btn-link text-danger" name='pro' type="submit"value='s'>
                        <i class="fa-regular fa-heart"></i>
                    </button>
                    <span>{{p.jjim_users.all|length}}</span>
                {% endif %}
            </form>
        </li>
        {%empty%}
            <li>등록 물품이 없습니다.</li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>{{ member.username }}가 등록한 물건</h2>
        <ul>
            <li>다른 사람은 볼 수 없습니다</li>
        </ul>
    {% endif %}
    <br>
    <hr>
    {% if request.user == member %}
    <h2>내가 찜한 물건</h2>
    <ul>
        {% for p in pd_jjims %}
        <li>
            <a href="{% url "products:product_detail" p.id %}">
            <p>[{{p.pk}}] {{p.title}} | {{p.author}}</p>
            </a>
            <form action="{% url "products:jjim" p.pk%}" method="post">
                {% csrf_token %}
                {% if request.user in p.jjim_users.all %}
                    <button class="btn btn-link text-danger" name="pro" type="submit" value="pf">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                {% else %}
                    <button class="btn btn-link text-danger" name="pro" type="submit" value="pf">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                {% endif %}
            </form>
        </li>
        {%empty%}
            <li>찜한 물건이 없습니다.</li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>{{ member.username }}가 찜한 물건</h2>
    <ul>
        <li>다른 사람은 볼 수 없습니다</li>
    </ul>
    {% endif %}
    {% endblock content %}